:root {
  background-image: -webkit-linear-gradient(0deg,#4589fb, rgb(17, 44, 85));
  background-image: linear-gradient(0deg, #4589fb, rgb(17, 44, 85));
  height: 100%;
  font-family: sans-serif;
}



body{
  position: relative;
}

.appView{
  position: relative;
  background-color: #4589fb;
  width: 80%;
  height: 35em;
  border-radius: 1px;
  box-shadow: 0em 0em 0.5em 0em rgb(17, 44, 85);
  margin: auto;
  margin-top: 2em;
}

.logo{
  position: fixed;
  right: 6em;
  bottom: 2em;
  width: 10em;
}

.documentDisplay{
  width: 70%;
  height: 91%;
  display: inline-block;
  float: right;
  box-sizing: border-box;
  border-width: 0em 0em 2em 2em;
  border-color: transparent;
  border-style: solid;
  overflow: scroll;
}

.documentDisplay img {
  position: absolute;
  bottom: 2em;
  right: 2em;
  opacity: 0.4;
}
.documentDisplay > *:not(img) {
  position: relative;
}

.noCurReport{
  display: block;
  margin: 5em auto 0em auto;
  width: 50%;
}

@keyframes displayDocument {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0em;
  }
}

.documentTitle, .documentBody {
  opacity: 0;
  left: 1em;
}

.showDocument {
  opacity: 1;
  transition: all 600ms;
  left: 0em;
}

.listOfReports{
  width: 30%;
  overflow: scroll;
  height: 85.5%;
  list-style: none;
  float: left;
  display: inline-block;
  padding: 0;
  margin-top: 0em;
}

.listOfReports li{
  border-bottom: 1px #1b437a solid;
}

.listOfReports button {
  font-size: 1em;
  color: white;
  opacity: 0.9;
  width: 100%;
  background-color: transparent;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  border: none;
  transition: all 300ms;
}

@keyframes reportHover {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #b38600;
  }
}

.listOfReports button:hover{
  /*background-color: rgb(35,181,159);*/
  -webkit-animation: 100ms linear 0s reportHover;
     -moz-animation: 100ms linear 0s reportHover;
       -o-animation: 100ms linear 0s reportHover;
          animation: 100ms linear 0s reportHover;
  background-color: #b38600;
}


.banner {
  position: relative;
  /*background-image: -webkit-linear-gradient(0deg, rgb(0, 102, 102), rgb(0, 125, 124));*/
  /*background-image: linear-gradient(0deg, rgb(0, 102, 102), rgb(0, 125, 124));*/
  background-color: rgb(28, 85, 103);
  color: rgba(235, 246, 250, 0.8);
}


.banner div {
  display: inline-block;
  height: 5em;
  width: 100%;
}
.banner h1 {
  width: 9em;
  margin: 0.5em auto 0em auto;
}

.banner .filter {
  position: absolute;
  top: 70%;
  height: 2em;
  border: none;
  border-radius: 2px;
  margin-left: 2em;
  width: 25%
}
