:root {
  background-image: -webkit-linear-gradient(0deg,#4589fb, #1b437a);
  background-image: linear-gradient(0deg, #4589fb, #1b437a);
  height: 100%;
  font-family: sans-serif;
}



body{
  position: relative;
}

.appView{
  position: relative;
  background-color: #4589fb;
  width: 80%;
  height: 35em;
  border-radius: 1px;
  box-shadow: 0em 0em 0.5em 0em #1b437a;
  margin: auto;
  margin-top: 2em;
}

.logo{
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.banner {
  position: relative;
}

.banner div {
  display: inline-block;
  height: 5em;
  width: 100%;
}
.banner h1 {
  width: 8.2em;
  margin: 0.5em auto 0em auto;
}

.banner .filter {
  position: absolute;
  top: 70%;
  height: 2em;
  border: none;
  border-radius: 2px;
  margin-left: 2em;
  width: 25%
}

.documentDisplay{
  width: 70%;
  height: 91%;
  display: inline-block;
  float: right;
  box-sizing: border-box;
  border-width: 0em 0em 2em 2em;
  border-color: transparent;
  border-style: solid;
  overflow: scroll;
}

.noCurReport{
  display: block;
  margin: 5em auto 0em auto;
  width: 50%;
}

.listOfReports{
  width: 30%;
  overflow: scroll;
  height: 85.5%;
  list-style: none;
  float: left;
  display: inline-block;
  padding: 0;
  margin-top: 0em;
}

.listOfReports li{
  border-bottom: 1px #1b437a solid;
}

.listOfReports button {
  width: 100%;
  background-color: transparent;
  padding-bottom: 2em;
  padding-top: 2em;
  border: none;
}

.listOfReports button:hover{
  background-color: green;
}

